@model BlogProject.Models.Author
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Author/List">Back To Authors</a>
<div>
    <h2>@Model.AuthorFname @Model.AuthorLname</h2>
    <P>@Model.AuthorBio</P>
</div>