@model IEnumerable<School_Project.Models.Teacher>
@{
    ViewBag.Title = "List";
}

<h2>List of Teachers</h2>

<h3><a href="/Student/List">Student List</a></h3> <h3><a href="/Class/List">Class List</a></h3>

<form action="/Teacher/List" method="GET">
    <input type="text" name="SearchKey"/>
    <input type="submit" value="Search"/>
</form>

@foreach (var teacher in Model) { 
    
    <div><a href="/Teacher/Show/@teacher.TeacherId"> @teacher.TeacherFName @teacher.TeacherLName</a></div>

}
