@model IEnumerable<School_Project.Models.Class>
@{
    ViewBag.Title = "List";
}

<h2>List Classes</h2>
<!--Links to other lists as well as link to create a new entry-->
<h3><a href="/Teacher/List">Teacher List</a></h3>
<h3><a href="/Student/List">Student List</a></h3>
<h3><a href="/Class/New">Create New Class</a></h3>

<form action="/Class/List" method="GET">
    <input type="text" name="SearchKey" />
    <input type="submit" value="Search" />
</form>
<!--loops for each entry to show entire list-->
@foreach (var classes in Model)
{
    <div><a href="/Class/Show/@classes.ClassId">@classes.ClassCode - @classes.ClassName</a></div>
}