@model School_Project.Models.Class
@{
    ViewBag.Title = "Update";
}

<!--form to update an  entry-->
<div id="ContainerUpdate">
    <h2>Update Class</h2>
    <form name="NewClass" method="POST" action="/Class/Update/@Model.ClassId">
        <div>
            <label for="ClassCode">Class Code:</label>
            <input type="text" id="ClassCode" name="ClassCode" value="@Model.ClassCode"/>
        </div>
        <div>
            <label for="TeacherID">Teacher ID:</label>
            <input type="number" id="TeacherID" name="TeacherID" value="@Model.TeacherId"/>
        </div>
        <div>
            <label for="StartDate">Start Date:</label>
            <input type="date" id="StartDate" name="StartDate" value=@Model.StartDate/>
        </div>
        <div>
            <label for="FinishDate">Finish Date:</label>
            <input type="date" id="FinishDate" name="FinishDate" value="@Model.FinishDate"/>
        </div>
        <div>
            <label for="ClassName">Class Name:</label>
            <input type="text" id="ClassName" name="ClassName" value="@Model.ClassName"/>
        </div>
        <div>
            <input type="submit" value="Update Class" />
        </div>
    </form>
    <nav>
        <a class="navlink" href="/Class/Show/@Model.ClassId">Back</a>
    </nav>
</div>